<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="static/css/style.css" type="text/css">
    <script type="text/template" id="OrderView">
        <b><%=title%></b>
    </script>
    <script type="text/template" id="TabView">
        <%=title%>
    </script>
</head>
<body>
<div id="tabs" class="tabs"></div>
<div id="viewhere" class="viewhere">

</div>

<script src="static/js/jquery-1.11.2.js" type="application/javascript"></script>
<script src="static/js/underscore.js" type="application/javascript"></script>
<script src="static/js/backbone.js" type="application/javascript"></script>
<script type="application/javascript">
(function () {
    function debug(s) {
        if (window.console) {
            console.log(s);
        }
    }

    function makeRandonSample(type) {
        return {title: 'Order ' + Math.round(Math.random() * 100 + 1), type: type};
    }

    var sample_tabs = [
        {title: 'Первая', state: 1, more: 0, active: true},
        {title: 'Вторая', state: 2, more: 0, active: false},
        {title: 'Третья', state: 3, more: 0, active: false},
        {title: 'Четвёртая', state: 4, more: 0, active: false}
    ];
    var STATE = sample_tabs[0].state; // Считаем по умолчанию что активен первый таб

    var TabModel = Backbone.Model.extend({

    });

    var TabView = Backbone.View.extend({
        tagName: 'li',
        template: _.template($('#TabView').html()),
        events: {
            'click': 'click'
        },
        initialize: function () {
            this.model.on('change', this.render, this);
            this.render();
        },
        render: function () {
            debug('TabView->render')
            debug(this.model);
            this.$el.html(this.template(this.model.toJSON()));
            /*
             if (this.model.get('active')) {
             this.$el.addClass('active');
             }
             */

            if (this.model.get('state') == STATE) {
                this.$el.addClass('active');
            }
            return this;
        },
        click: function () {
            debug('TabView->click');
            this.model.set('active', true);


        }

    });

    var TabCollection = Backbone.Collection.extend({
        model: TabModel
    });

    var TabViewCollection = Backbone.View.extend({
        tagName: 'ul',
        events: {
            // 'click li': 'onChanged'
        },

        initialize: function () {
            this.enableEvents();
            //this.collection.on('changed', this.onChanged, this);
        },
        enableEvents: function () {
            this.collection.bind("change", this.onChanged, this);
        },
        disableEvents: function () {
            this.collection.unbind("change");
        },
        render: function () {
            this.$el.html('');
            this.collection.each(function (tab_item) {
                var tabview = new TabView({model: tab_item});
                this.$el.append(tabview.render().el);
            }, this);

            return this;
        },
        onChanged: function (item) {
            debug('TabViewCollection->onChanged 1');
            debug(item.get('title'));
            debug(item.get('state'));
            STATE = item.get('state');
            router.navigate('state/' + STATE, {replace: true});
            //if (item.get('active')) return true;
            this.disableEvents();
            this.collection.forEach(function (model, index) {
                if (model.get('state') == STATE) {
                    model.set('active', true);
                }
                else {
                    model.set('active', false);
                }
            });
            this.enableEvents();
            app.render();
            //this.fireEvent('tabChange',STATE);
        }
    });

    var sample_data = [
        {title: 'Order 1', type: 1},
        {title: 'Order 2', type: 2},
        {title: 'Order 3', type: 2},
        {title: 'Order 4', type: 3},
        {title: 'Order 5', type: 4},
        {title: 'Order 6', type: 4},
        {title: 'Order 7', type: 4},
        {title: 'Order 8', type: 1},
        {title: 'Order 9', type: 3},
        {title: 'Order 10', type: 4},
        {title: 'Order 11', type: 1},
        {title: 'Order 12', type: 2},
        {title: 'Order 13', type: 1},
        {title: 'Order 14', type: 4},
        {title: 'Order 15', type: 3},
        {title: 'Order 16', type: 4},
        {title: 'Order 17', type: 3},
        {title: 'Order 18', type: 2},
        {title: 'Order 19', type: 1}
    ];

    var OrderModel = Backbone.Model.extend({
        defaults: {
            title: 'Order',
            type: 1
        }
    });

    var OrderView = Backbone.View.extend({
        tagName: 'li',
        events: {
            'click button': 'OnButtonClick'
        },
        template: _.template($('#OrderView').html()),
        initialize: function () {
            debug('------------------------');
            debug('OrderView-> initialize');
            this.render();
        },
        render: function () {
            var buttons = '';
            tabs.models.forEach(function (model, index) {
                if (model.get('state') != STATE) {
                    buttons += '<button value="' + model.get('state') + '">' + model.get('title') + '</button> ';
                }
            });
            this.$el.html(this.template(this.model.toJSON()) + buttons);
            return this;
            //this.$el.html(this.template(this.model.attributes));
            //return this;
        },
        OnButtonClick: function (e) {
            debug('OrderView->OnButtonClick');
            debug(e);
            var new_type = parseInt($(e.currentTarget).val(), 10);
            this.model.set('type', new_type);
            app.render();
        }
    });
    var OrdersCollection = Backbone.Collection.extend({
        model: OrderModel
    });

    var OrderViewCollection = Backbone.View.extend({
        tagName: 'ul',
        initialize: function () {
            debug('------------------------');
            debug('OrderViewCollection-> initialize');
            debug(this.collection);
            //this.collection.bind("change", this.render(), this);
        },
        render: function () {
            debug('OrderViewCollection render');
            this.$el.html('');
            this.collection.each(function (order_item) {
                var ordview = new OrderView({model: order_item});
                if (order_item.get('type') == STATE) {
                    this.$el.append(ordview.render().el);
                }
            }, this);
            this.$el.append('<button class="getmore">Ещё</button>');
            this.$el.find('button.getmore').click(this.onMoreButton) // только так катит потому что перерендивается
            return this;
        },
        onMoreButton: function () {
            for (var i = 0; i < 5; i++) {
                orders.add(new OrderModel(makeRandonSample(STATE)));
            }
            app.render();
        }
    });

    var orders = new OrdersCollection();
    var tabs = new TabCollection();


    var AppView = Backbone.View.extend({
        el: '#viewhere',
        el2: $('#tabs'),
        initialize: function () {
            var i;
            for (i = 0; i < sample_data.length; i++) {
                orders.add(new OrderModel(sample_data[i]));
                debug(i);
            }
            debug('--------------');
            for (i = 0; i < sample_tabs.length; i++) {
                tabs.add(new TabModel(sample_tabs[i]));
                debug(i);
            }
            debug(orders.models);
            this.ordersView = new OrderViewCollection({ collection: orders });
            this.tabsView = new TabViewCollection({collection: tabs})
            this.render();

            //orders.fetch();
        },
        render: function () {
            this.$el.html('');
            this.$el.append(this.ordersView.render().el);

            this.el2.html('');
            this.el2.append(this.tabsView.render().el);
        },
        onClick: function () {
            this.render();
        }
    });

    var AppRouter = Backbone.Router.extend({
        routes: {
            "state/:state": "state",
            '': "default",
            '*query': "default"
        },

        initialize: function (options) {

        },
        state: function (state) {
            STATE = parseInt(state, 10);
            app.render();
        },
        default: function () {
            debug('Defalut');
        },
        help: function () {

        }
    });

    var app = new AppView();
    var router = new AppRouter();

    Backbone.history.start();
})();
</script>
</body>
</html>