/**
 * 
 *
 */
body {
    font-family: Helvetica, Arial, sans-serif;
}

.tabs {

}

.tabs:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;

}

.tabs ul {
    list-style: none;
    width: 100%;
    clear: both;
}

.tabs ul li {
    float: left;
    padding-left: 20px;
    cursor: pointer;
    padding: 5px 15px 5px 15px;
    border-bottom: 1px solid #000;

}

.tabs ul li.active {
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border: 1px solid #000;
    border-bottom: none;
    font-weight: bold;
}

.viewhere {

}

.viewhere ul {

}

.viewhere ul li {
    margin: 10px 3px 10px 7px;
}